.DS_Store
dump.xml
reqdump.xml
.idea/
*.swp
*.swo
node_modules
*#*
*!*
npm-debug.log
*.patch
dist/
*.orig
*.rej
coverage/
test-results.xml
.tags?
.tags
.tags??
.vimprj/
.project
.tern-project
avia_mysql.dockerfile
docker-compose.yml
.lvimrc
.vscode/
jsconfig.json
.nyc_output/
*.tsbuildinfo
.env
.perf-tests

lib/
