*#*
*!*

*.tsbuildinfo
*.patch
*.orig
*.rej

.DS_Store
.env

.vscode/

discardedTests.txt
keploy-logs.txt
npm-debug.log
keploy.yml

node_modules/
lib/

src/generated/**
coverage/**

!src/generated/.keep.ts
!coverage/cobertura-coverage.xml
