*#*
*!*

*.tsbuildinfo
*.patch
*.orig
*.rej

.DS_Store
.env

.vscode/

discardedTests.txt
npm-debug.log

/node_modules/
/lib/

/src/generated/**
!/src/generated/.keep.ts

/coverage/**
!/coverage/cobertura-coverage.xml
